<a href="https://colab.research.google.com/github/25chohyeonki/42H/blob/master/practices/practice-starting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (연습) 프로그래밍 맛보기

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

**문제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정하라.
오류가 발생하지 않으면 실행 결과를 설명한다.

(1)

In [ ]:
print("Hello World)

In [1]:
print("Hello World")

Hello World

(2)

In [ ]:
print(21 8)

In [2]:
print(21,8)

21 8

(3)

In [ ]:
print(2++2)

In [3]:
print(2++2)

4

**문제 2**

변수 할당 명령문과 관련하여 주의해야할 점들을 다룬다. 아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

(1)

In [ ]:
x = 2;

In [55]:
x = 2

(2)

In [17]:
z = x y

In [56]:
y = 2
z = x + y
print(z)

4

(3)

In [ ]:
even = 3
odd = 17
print(even + oddd)

In [19]:
even = 3
odd = 17
print(even + odd)

20

(4)

In [ ]:
x = 3
zero = 1

print(x/zero)

In [25]:
x = 3
zero = 1

print(x/zero)

3.0

**문제 3**

언급된 값을 표현하는 수식을 표현한 다음에 실행하라.

**굵은 텍스트**(1) 정수 13에서 정수 19 빼기

힌트: 뺄셈 연산자를 활용한다.

In [31]:
13 - 19

-6

(2) 정수 81을 정수 3으로 나누기

힌트: 나눗셈 연산자를 활용한다.

In [32]:
81 / 3

27.0

(3) 정수 100을 정수 7로 나눈 나머지

힌트: 나머지 연산자를 활용한다.

In [33]:
100 % 7

2

(4) 정수 7.2의 세제곱

힌트: 거듭제곱 연산자를 활용한다.

In [35]:
7.2**3

373.24800000000005

**문제 4**

먼저 아래와 같이 두 개의 변수를 선언한다.

In [39]:
width = 17
height = 12.0

언급된 값을 표현하는 수식을 두 변수를 이용하여 표현한 다음에 실행하여라.

(1) width를 2로 나눗 몫

In [43]:
result = width // 2
print(result)

8

(2) width 나누기 2

In [45]:
result = width / 2
print(result)

8.5

(3) width 나누기 2.0

In [47]:
result = width / 2.0
print(result)

8.5

(4) height 나누기 3

In [48]:
result = height / 3
print(result)

4.0

(5) 2 곱하기 5에 1 더하기

In [49]:
result = 2 * 5 + 1
print(result)

11

(6) 2 곱하기 5에 1.0 더하기

In [50]:
result = 2 * 5 + 1.0
print(result)

11.0

**문제 5**

오전 6시 52분에 집을 떠나서, 가볍게 (km당 8분 15초 소요) 1km를 뛰고,
이어서 좀 빠르게 (km당 7분 12초 소요) 3km를 뛴 후, 다시 가볍게 1km를 마저 달려 집으로 돌아오면
집에 도착하는 시간을 계산하여 아래처럼 출력하는 코드를 작성하라.

    집에 도착 시간: 7 시 30 분 6 초

힌트: 정수 나눗셈의 몫과 나머지 연산자 활용

In [52]:
start_hour = 6
start_minute = 52
start_secont = 0

time_easy = 8 * 60 + 15 #one km
time_fast = 7 * 60 + 12 #one km fast

total_time = time_easy + 3 * time_fast + time_easy

start_total = start_hour * 3600 + start_minute * 60 + start_second
arrival_total = start_total + total_time

arrival_hour = arrival_total // 3600
arrival_total %= 3600
arrival_minute = arrival_total // 60
arrival_second = arrival_total % 60

print("집에 도착하는 시간 : {} 시 {} 분 {} 초". format(arrival_hour, arrival_minute, arrival_second))

집에 도착하는 시간 : 7 시 30 분 6 초