# (필수 예제) 자료형

## 예제 3

먼저 아래와 같이 변수를 선언한다.

In [19]:
number = 17
two_semicolons = ';;'

다음에 오는 각각의 표현식들에 대해, 표현식의 값과 자료형을 확인한다.

**코드 1: `number + 2`**

In [20]:
number + 2

19

In [21]:
type(number + 2)

int

* `number - 2.0`

In [22]:
number - 2.0

15.0

In [23]:
type(number - 2.0)

float

**코드 2: `number / 2`**

In [24]:
number / 2

8.5

In [25]:
type(number / 2)

float

**코드 3: `number // 2`**

In [26]:
number // 2

8

In [27]:
type(number // 2)

int

**코드 4: `number % 2`**

In [28]:
number % 2

1

In [29]:
type(number % 2)

int

**코드 5: `number`의 세제곱을 (2 + 3)으로 나누기**

In [30]:
number**3 / (2 + 3)

982.6

In [31]:
type(number**3 / (2 + 3))

float

그런데 아래와 같이 하면 틀린 값이 나온다.

In [32]:
number**3 / 2 + 3

2459.5

이유는 나눗셈 연산자 `/`의 우선순위가 덧셈 연산자 `+` 보다 높아서 위 수식은 아래 수식과 동일한
값을 계산하기 때문이다.

In [33]:
(number**3 / 2) + 3

2459.5

**코드 6: `two_semicolons * 3`**

In [34]:
two_semicolons * 3

';;;;;;'

In [35]:
type(two_semicolons * 3)

str

## 예제 4

아래 수식을 계산하려 하면 오류가 발생한다.

In [37]:
3 + '3.0'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

이유는 숫자로서의 3과 문자열로서의 `'3.0'`의 덧셈 연산은 정의되어 있지 않기 때문이다.
그런데 아래 수식은 계산이 허용된다.
곱셈 연산자 `*`를 정수와 문자열과 함께 실행하면 문자열을 지정된 정수만큼 복제해서 이어붙인다.
따라서 3.03이 세 번 반복된 문자열이 계산된다.

In [38]:
3 * '3.0'

'3.03.03.0'

그런데 유한소수 모양의 문자열을 부동소수점 자료형으로 변환하여 3 + 3.0이
계산되도록 할 수 있다. 
이를 위해 `float()` 함수를 활용한다.
`float()` 함수는 부동소수점 모양의 문자열을 실제 부동소수점으로 변환시킨다.

In [39]:
3 + float('3.0')

6.0

단, `float()` 함수에 부동소수점 모양이 아닌 인자를 사용하면 오류가 발생한다.

In [40]:
float('3-1')

ValueError: could not convert string to float: '3-1'

## 예제 5

**코드 1**

아래 내용의 논리식을 할당받는 변수 `p1`을 선언한 후에 `p1`에 할당된 진리값을 확인한다.

> 3과 4가 다른지 여부 판단

모범 답안:

두 값이 다른지 여부는 `!=` 연산자를 이용하여 표현.

In [41]:
p1 = 3 != 4
p1

True

**코드 2**

아래 내용의 논리식을 할당받는 변수 `p2`를 선언한 후에 `p2`에 할당된 진리값을 확인한다.

> "hello"와 "hi"가 같은지 여부 판단

모범 답안:

두 값이 같은지 여부는 `==` 연산자를 이용하여 표현.

In [42]:
p2 = "hello" == "hi"
p2

False

## 예제 6

15, 28이 각각 짝수인지 또는 홀수인지를 판별하는 코드를 작성한다.
출력된 결과는 아래와 같은 형식이다.

> 15는 짝수인가요? False  
> 28은 짝수인가요? True

힌트: 짝수는 2로 나눴을 때 나머지가 0이다.

**답**

15가 짝수인지 여부는 `15 % 2 == 0` 가 `True`로 계산되는지로 확인함.

In [47]:
print("15는 짝수인가요?", 15 % 2 == 0)
print("28는 짝수인가요?", 28 % 2 == 0)

15는 짝수인가요? False
28는 짝수인가요? True